p,h1,h2,h3,h4,h5,h6 {
  color: ;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* header */
.header {
  background-color: transparent;
  padding: 2px;
  margin: 1px;
  text-align: top;
}

a:link {
  overflow-wrap: break-word;
}

a:link {
  color: #393d40;
  background-color: transparent;
  text-decoration: none;
}

/* change color on hover */
a:hover {
  color: #e50914;
}

p {
  line-height: ; /* Adjust the line height */
}

.block {
    padding: 15px;
    background: #eee;
    border-radius: 5px;
}

.daark-modee {
  background-color: black;
  color: white;
}

.dark-mode-button {
  float: right;
  background-color: #de2121;
  border: none;
  color: white;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px;
  cursor: pointer;
}

.responsive {
  width: 100%;
  height: auto;
}

::selection {
  background: #fe3b1f;
}

/* fonts */
body, h1, h2, h3, h4, h5, h6  {
  font-family: Arial, Helvetica, sans-serif;
}

/* top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #121212;
}

/* the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #ff0000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #fcfafa;
  color: black;
}

/* three different floating columns */
.column {
  float: left;
  padding: 10px;
}

/* side columns */
.column.side {
  width: 25%;
}

/* main body column */
.column.middle {
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* footer */
.footer {
  background-color: #dbdbdb;
  padding: 10px;
  text-align: center;
}
/* main */
    .footer {
      margin: auto;
      width: 100%;
      border: 0px solid #FF0000;
      padding: 10px;
      background-color:#e3e3e3;
    }
    .column.middle { 
      font-size: 19px; 
      color: ; }

div.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: lightgreen;
}
