
p,h1,h2,h3,h4,h5,h6 {
  color: ;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* header */
.header {
  background-color: transparent;
  padding: 2px;
  margin: 1px;
  text-align: top;
}

a:link {
  overflow-wrap: break-word;
}

.dark-mode {
  background-color: black;
  color: white;

.responsive {
  width: 100%;
  height: auto;
}

/* fonts */
body, h1, h2, h3, h4, h5, h6  {
  font-family: Titillium Web, sans-serif;
}

/* upper navigation bar */
.topnav {
  overflow: hidden;
  background-color: #121212;
}

/* top navigation links */
.topnav a {
  float: left;
  display: block;
  color: #ff0000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* style the color while hover */
.topnav a:hover {
  background-color: #fcfafa;
  color: black;
}

/* three different floating columns */
.column {
  float: left;
  padding: 10px;
}

/* side columns */
.column.side {
  width: 25%;
}

/* main body column */
.column.middle {
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

::selection {
  background: #ff2b2b;
}

/* footer */
.footer {
  background-color: #dbdbdb;
  padding: 10px;
  text-align: center;
}
/* main */
    .footer {
      margin: auto;
      width: 100%;
      border: 0px solid #FF0000;
      padding: 10px;
      background-color:#e3e3e3;
    }
    .column.middle { 
      font-size: 19px; 
      color: ; }
